body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #0D1216;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
   background-color: #0D1216;
}

hr{
    border: none;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 20%;
}

#hero{background-attachment: sticky;}

.hero-content h2{
  font-family: Inter;
font-weight: 600;
color: #FFFFFF;
font-style: Semi Bold;
font-size: 47.72px;
line-height: 106%;
letter-spacing: -3%;
text-align: center;
text-transform: capitalize;
}

.hero-content p{
font-family: Inter;
font-weight: 300;
font-style: Regular;
font-size: 19px;
line-height: 150%;  
text-align: center;
color: #FFFFFF;
opacity: 70%;
margin-top: -26px;
}


.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav-links li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
   display: flex;        
    align-items: center;
    font-size: 13px;
    opacity: 90%;
    height: 100%;
}

.navbar {
    height: 70px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 3px;
    height: 100%; 
}

.nav-left img{width: 100px; height: auto; }

.nav-left, .nav-right{
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: 100%;
}
.contact-btn{
    background-color: #0069C8;
    color: white;
    border: 1px solid #82B8DC;
    border-radius: 8px;
    height: 30px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
}

.hero-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}
.call-btn, .explore-btn{
    border-radius: 5px;
    font-size: 12px;
    color: white;
     height: 31px;
     padding: 0 15px;
}

.call-btn{
    background-color: #0069C8;
    border: 1px solid #82B8DC;
    cursor: pointer;
}

.explore-btn{
    background-color: transparent;
    border: 1px solid #5a6d7b;
    cursor: pointer;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 30%;
    max-width: 600px;
    margin-top: -10px;
}

.about {
    background: #F2FAFF;
    padding: 60px 0;
}

.about-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 40px;
}

.about-top {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: baseline;
    gap: 110px;
    text-transform: capitalize;
}

.about-top h4 {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

.about-top p {
    font-size: 21px;
    line-height: 1.9;
    color: #575757;
    font-weight: 500;
    text-align: justify;
}

.learn-more {
    display: inline-block;
    margin-left: 262px;
    margin-top: 20px;
    padding-bottom: 8px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #575757;
}

.about-bottom {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr; 
    gap: 30px;
    max-width: 990px;
    margin: 60px auto;
}

.testimonial {
    background: #FFFFFF;
    padding: 20px;             
    border-radius: 14px;
    min-height: 320px;         
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stars {
    font-size: 25px;
    letter-spacing: 1px;
}

.quote {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
    margin-top: -10px;
    max-width: 90%;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user img {
    width: 42px;
    height: 42px;
    border-radius: 8px;
}

.user h5 {
    margin: 0;
    font-size: 15px;
}

.user span {
    font-size: 13px;
    color: #777;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    gap: 20px;
}

.card {
    padding: 0px 25px;
    border-radius: 12px;
    color: white;
    font-size: 44px;
    font-weight: 400;
    height: 48%;                
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card span {
    font-size: 14px;
    margin-top: 35px;
    font-weight: 400;
    opacity: 0.9;
}

.blue {
    background: #1E6BB8;
}

.black {
    background: #000;
}

.services {
    background: #ffffff;
    padding: 100px 0;
}

.services-container {
    max-width: 1500px;
    margin: auto;
    padding: 0 40px;
}

.services-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.tag {
    font-size: 16px;
    color: #000000;
}

.services-top h2 {
    font-size: 37px;
    margin-top: 15px;
    line-height: 1.2;
}

.services-right {
    max-width: 600px;
    margin-top: 20px;
}

.services-right p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.view-btn {
    background: #0D6EFD;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 50px 0;
    font-weight: 500;
    border-bottom: 1px solid #8b8888;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.arrow.open {
    transform: rotate(90deg); /* → becomes ↓ */
    background: #0D6EFD;
    color: white;
}

.service-card {
    background: #000;
    color: white;
    border-radius: 10px;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    gap: 40px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 105px;
}

.card-left p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
    max-width: 600px;
}

.card-left a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.card-right img {
    width: 100%;
    border-radius: 10px;
}

.industries-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
    position: relative;
}

.industries-top {
    text-align: center;
    margin-bottom: 80px;
}

.industries-top h2 {
    font-size: 33px;
    margin-bottom: 20px;
}


.qm1-video {
    width: 45px;
    height: 45px;
    padding-bottom: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.qm2-video {
    width: 60px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}
.qm3-video {
    width: 80px;
    height: 70px;
    margin: auto -15px;
    display: inline-block;
    vertical-align: middle;
}

.cta-btn {
    background: #297af4;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.industries-section {
    position: relative;
    background: #ffffff;
    padding: 0px 4%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.background-watermark {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 180px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.06);
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
}

.industries-container {
    position: relative;
    z-index: 2;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.industries-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.industries-top {
    text-align: center;
    margin-bottom: 80px;
}

.industries-top h2 {
    font-size: 33px;
    margin-bottom: 20px;
}

.qm1-video {
    width: 45px;
    height: 45px;
    padding-bottom: 7px;
    vertical-align: middle;
    margin-left: 5px;
}

.qm2-video {
    width: 60px;
    height: 50px;
    vertical-align: middle;
    margin: 0 5px;
}

.qm3-video {
    width: 80px;
    height: 70px;
    vertical-align: middle;
    margin: auto -15px;
}

.cta-btn {
    background: #297af4;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.industries-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 190px;
}

.industry-card {
    width: 100%;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.06);
    transition: transform 0.3s ease;
}

.industry-card:hover {
    transform: translateY(-10px);
}

.card-image-box img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.card-info {
    padding: 14px;
}

.card-info h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.card-info p {
    font-size: 14px;
    color: #666;
    line-height: 0.9;
}

.card-info a {
    color: #297af4;
    text-decoration: none;
    font-weight: 500;
}

.card-left{
    margin-bottom: 120px;
}

.card-right {
    margin-top: 120px;
}

.feature-section {
    background: #ffffff;
    padding: 120px 0;
    position: relative;
    z-index: 2;
}

.feature-card {
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;                  
    background: #000;
    color: white;
    outline: 15px solid rgba(189, 184, 184, 0.3);
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.feature-left h2 {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 100px;
    padding-left: 25px;
}

.feature-left p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 40px;
    line-height: 1.6;
    max-width: 1000px;
    padding-left: 25px;
}

.feature-btn {
    background: #0D6EFD;
    border: none;
    padding: 10px 10px;
    margin-left: 25px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.feature-right img {
    width: 100%;
    border-radius: 12px;
}

.feature-card::before {
    content: "";
    position: absolute;
}

.projects-section {
    background: #F1FAFF;
    padding: 39px 170px 100px;
    position: relative;
    z-index: 1;
}   

.projects-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.projects-left {
    max-width: 450px;
}

.projects-left .tag {
    font-size: 13px;
    color: #3e3d3d;
}

.projects-left h2 {
    font-size: 36px;
    font-family: Lato, sans-serif;
    font-weight: 720;
    margin-top: 10px;
}

.projects-right {
    max-width: 600px;
    padding-top: 14px;
}

.projects-right p {
    font-size: 17px;
    color: #666;
    margin-bottom: 10px;
}

.view-btn {
    background: #297af4;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 520px 460px;
    gap: 24px;
}

.project-card {
    position: relative;
    border-radius: 9px;
    overflow: hidden;
}

.project-card.big {
    grid-column: span 4;
    height: 100%;
}

.project-card.small.top {
    grid-column: span 2 ;
    height: 100%;
}

.project-card.small.bottom {
    height: 100%;
    grid-column: span 2 ;
}

.project-card.wide {
    grid-column: 2;
    height: 100%;
    grid-column: span 4;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.2),
        transparent
    );
}

.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
}

.overlay span {
    font-size: 13px;
    opacity: 0.9;
}

.overlay span::before {
    content: "•";
    color: #0069C8;
    margin-right: 6px;
    font-size : 22px;
}

.overlay h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
}

.blog-section {
    background: #FFFFFF;
    padding: 100px 170px;
}

.blog-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.blog-left {
    max-width: 450px;
}

.blog-left .tag {
    font-size: 12px;
}

.blog-left h2 {
    font-family: Lato, Inter, 'sans-serif';
    font-size: 40px;
    margin-top: 10px;
}

.blog-right {
    max-width: 600px;
}

.blog-right p {
    font-size: 17px;
    line-height: 1.4;
    color: #666;
    margin-bottom: 10px;
}

.blog-content {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 50px;
    align-items: start;
}

.blog-accordion {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    line-height: 1.5;
    padding: 14px 0;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.accordion-body {
    background: black;
    color: white;
    padding: 25px;
    padding-top: 8px;
    border-radius: 7px;
}

.accordion-body h4 {
    font-size: 18px;
    font-family: Inter, Lato, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 100px;
}

.accordion-body p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.3;
    margin-bottom: 20px;
}

.accordion-body a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px solid #ccc;
}

.blog-image img {
    width: 100%;
    border-radius: 12px;
}