.ourteam-page {
    background: #FEFEFE;
}

.team-hero {
    position: relative;
    width: 100%;
    margin-top: -70px;
    padding-top: 20px;
    min-height: 110vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FEFEFE;;
}

.team-hero h1 {
    position: relative;
    z-index: 5;
    font-size: 180px;
    font-weight: 750;
    letter-spacing: -0.07em;
    line-height: 0.9;
   background:
    linear-gradient(
        135deg,
        #111111 0%,
        #0d4880 45%,
        #202f3e 75%,
        #687a87 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    top: -14px;
}

.team-slider {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.top-slider {
    top: 14%;
}

.bottom-slider {
    bottom: 14%;
}

.team-track {
    display: flex;
    width: max-content;
    gap: 26px;
    animation:
        slideLeft 28s linear infinite;
}

.reverse-track {
    animation:
        slideRight 28s linear infinite;
}

.team-track img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 22px;
    flex-shrink: 0;
    filter:
        grayscale(10%);

    transition:
        transform 0.4s ease;
}
.team-track img:hover {
    transform: scale(1.04);
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 13px));
    }
}

@keyframes slideRight {

    0% {
        transform: translateX(calc(-50% - 13px));
    }
    100% {

        transform: translateX(0);
    }
}

.team-intro {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.team-intro h2 {
    font-size: 64px;
    line-height: 1.08;
    font-weight: 600;
    color: #111;
    margin-bottom: 40px;
}

.team-intro h2 span {
    color: #0069C8;
}

.team-intro p {
    width: 80%;
    margin: 0 auto;
    color: #666;
    font-size: 30px;
    line-height: 1.9;
    text-transform: capitalize;
}

.team-intro p span {
    color: #0069C8;
    font-weight: 600;
}

.sliding-team {
    width: 0%;
    margin: 120px auto 0;
    overflow: hidden;
    border-radius: 18px;
    transform-origin: left;
    transition:
        width 1.2s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 1s ease;
    opacity: 0;
}

.sliding-team.active {
    width: 80%;
    opacity: 1;
}

.sliding-team img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 18px;
}

.work-culture {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 120px;
    margin-bottom: 80px;
    overflow: hidden;
}

.work-culture h2 {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 700;
    color: #222;
    z-index: 2;
}

.culture-card {
    position: absolute;
    padding: 20px 32px;
    border-radius: 10px;
    background: #ececec;
    font-size: 22px;
    font-weight: 500;
    color: #4b5563;

    transition:
        transform 0.35s ease,
        background 0.35s ease,
        color 0.35s ease;
}

.culture-card:hover {
    transform: translateY(-2px);
    border: 1px solid black;
}

.card1 {
    top: 10%;
    left: 15%;
}

.card2 {
    top: 10%;
    right: 15%;
}

.card3 {
    top: 53%;
    left: 6%;
}

.card4 {
    top: 57%;
    right: 5%;
}

.card5 {
    bottom: 10%;
    left: 30%;
}

@media (max-width: 1200px) {
    .team-hero h1 {
        font-size: 130px;
    }
    .team-intro {
        width: 86%;
    }
    .team-intro h2 {
        font-size: 48px;
    }
    .team-intro p {
        width: 100%;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .team-hero {
        padding-bottom: 90px;
    }
    .team-hero h1 {
        font-size: 72px;
    }
    .intro-lines {
        margin-bottom: 50px;
    }
    .line {
        width: 90px;
    }
    .team-intro h2 {
        font-size: 36px;
    }
    .team-intro p {
        font-size: 18px;
        line-height: 1.8;
    }
    .team-process h2 {
        font-size: 34px;
    }
}